.logo {
    width: 75px;
    height: 75px;
}

.p {
    display: flex;
    width: 1200px;
}

#p2 {
    display: flex;
    width: 1200px;
}

.israel {
    width: 150px;
    height: 150px;
    position: relative;
    left: 30px;
    top: -10px;
}

.alice_code {
    width: 130px;
    height: 130px;
}

.coolest {
    width: 120px;
    height: 100px;
}

.p3 {
    display: flex;
    width: 1200px;
    align-items: center;
    position: relative;
    left: 360px;
}